{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-3" data-jarallax data-speed="0.1">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/bg-pattern02.webp');"></div>
        <div class="container py-5 py-sm-7 text-center">
          <div class="py-md-6">
            <p></p>
            <br>
            <br>
            <br>
            <h1 class="text-light pb-1"><span style="color: #eb7828">Middle-Cove Airport Transfers</span></h1>
            <p class="fs-lg text-light">Makes it easier to experience the transport.</p>
          </div>
        </div>
      </section>
      <!-- Booking form-->
      <form class="container position-relative zindex-5" style="margin-top: -68px;">
        <div class="d-lg-flex align-items-center bg-secondary border rounded-3 px-4 pt-4 pb-3">
          <div id="main" class="site-main">
            <div class="full-container">
              <div id="primary" class="content-area">
                <div id="content" class="site-content" role="main">
                  <article id="post-11" class="post-11 page type-page status-publish hentry post">
                    <div class="entry-main">                      
                      <div class="entry-content">
                        <div id="pl-11"><div class="panel-grid" id="pg-11-0" style="margin-bottom: 0px;" ><div class="panel-grid-cell" id="pgc-11-0-0" >
                          <div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-0-0-0" data-index="0">
                            <br>
                            <h5 style="list-style-type: disc;">EASYGO AIRPORT SHUTTLE – <span style="color: #eb7828">Middle-Cove</span></h5>
                        <ul style="list-style-type: disc;">
                          <li>Need an airport transfer service to or from Middle-Cove? </li>
                          <li>EasyGo airport transfers covers various suburbs within Sydney, such as Middle-Cove.</li>     
                          <li>Our services to and from the airport are time and cost efficient.
                          <li>If you and your group want to arrive at Lane Cove or at the Airport, why not travel together.
                          <li>This reduces the chances of someone being late and it is also much cheaper.
                          <li>If you are not travelling in a group, then book an airport transfer service just for yourself.</li>                         
                        </ul>
                          <br><br>
                          <h5>Booking in Advance</h5>
                        <ul style="list-style-type: disc;">
                        <li>Make sure you arrive at your event or special occasion on time.</li>
                        <li>We recommend you book in advance, we recommend you book 36 hours prior to your service.</li>
                        <li>However, we can sometimes accommodate for shorter frames if there has been a change of plans. </li>
                        <li>Bookings are online or via the phone. Go to our <a href="/booking_form/" style="color: #eb7828">Price & Booking page</a></li>
                        <li>For more details, get a quote, and remember to specify whether it is the domestic or International airport.</li>
                        <li>If you are still unsure, then please feel free to contact us via phone, email or contact form. We will respond to your query as soon as we can.</li>
                        </ul>
                        <br><br>
                        <h5>Door to door</h5>
                        <ul style="list-style-type: disc;">
                        <li>Middle-Cove airport transfer services are door-to-door, perfect for those who want to get to their destination as soon as possible.</li>
                        <li>Sit back and relax, EasyGo Shuttle will take care of all your transportation and transfer services.</li>
                        <li>We are a prestige yet cost effective service
                          All services are conducted in clean, modern, air conditioned vehicles.</li>
                        <li>Our premium travel services are reliable, punctual and completely refund guaranteed.</li>
                        <li>Larger luggage can easily be catered for with our shuttles</li>
                        <li>For more information about our Airport Transfers to and from Middle-Cove,
                          simply
                         <a href="/inquiry/" style="color:#eb7828">contact us</a></li>
                        </ul>                          
                        </div></div></div></div>



{% endblock %}