{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.25">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/bg-pattern02.webp');"></div>
            <br>
        <div class="container py-4 py-sm-7 text-center">
          <div class="py-md-6">
              <p></p>
              <br>
            <h3 class="text-light pb-1">Thank you! {{ name }}</h3>            
            <p class="fs-lg text-light">Someone will review your details and respond by email shortly</p>
            <p class="fs-lg text-light"><span style="color: #eb7828">Your email: {{ email }}</span></p>
            <p><small>If your email address is not correct, then please let us know asap</small></p>
            <p></p>
            <br>
            <br>
            <p class="fs-lg text-light" >
              <a href="https://easygo-staticfiles-bucket.s3.ap-southeast-2.amazonaws.com/syd5.webp" target="_blank">&raquo;&raquo; Classic mini bus</a></p><br>
            <p class="fs-lg text-light" ><a href="https://easygo-staticfiles-bucket.s3.ap-southeast-2.amazonaws.com/EasyGo+Vehicle.webp" target="_blank">&raquo;&raquo; Standard mini bus</a></p>
            <br>
            <br>            
          </div>
        </div>
      </section>      
      
				</div>

			</div>
		</div>
	</div>

{% endblock %}

