{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-3" data-jarallax data-speed="0.1">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/back4.PNG.webp');"></div>
        <div class="container py-5 py-sm-7 text-center">
          <div class="py-md-6">
            <p></p>
            <br>
            <h1 class="text-light pb-1">Information of EasyGo</h1>
            <p class="fs-lg text-light">Makes it easier to experience the transport.</p>
          </div>
        </div>
      </section>
      <!-- Booking form-->
      <form class="container position-relative zindex-5" style="margin-top: -68px;">
        <div class="d-lg-flex align-items-center bg-secondary border rounded-3 px-4 pt-4 pb-3">


          <div id="main" class="site-main">
            <div class="full-container">

              <div id="primary" class="content-area">
                <div id="content" class="site-content" role="main">

                  <article id="post-11" class="post-11 page type-page status-publish hentry post">

                    <div class="entry-main">

                      <header class="entry-header">
                        <h1 class="entry-title">Information</h1>
                      </header><!-- .entry-header -->

                      <div class="entry-content">
                        <div id="pl-11"><div class="panel-grid" id="pg-11-0" style="margin-bottom: 0px;" ><div class="panel-grid-cell" id="pgc-11-0-0" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-0-0-0" data-index="0"><h3 class="widget-title"><span style="color: #eb7828">EASYGO</span> AIRPORT SHUTTLE – INFORMATION</h3><br><div class="textwidget"><ul style="list-style-type: disc;">
                          <li>All fares are for a single (one-way) journeys only. All fares are included airport parking fee. Furthermore, even if a flight is delayed and a driver need to wait, there is no extra charge. we are able to replace any other driver to meet our cleints on time. </li>
                          <li>All cancellations should be made as soon as possible. We cannot guarantee a refund on short notice. You are eligible for a 100% refund on your booking, with no cancellation fees, for cancellations greater than 24 hours prior to your pick-up departure time. You are not eligible for any refund on your booking for cancellations 24 hours or less prior to your pick-up departure time.</li>
                          <li>We cannot accept responsibility for delayed or cancelled flights, or for traffic incidents that are beyond our control. We get our passengers to the airport on schedule, and have an advantage with optimizing routes and the use of bus lanes; but we will not be held responsible for failed pickups or problems arising from the incorrect information.</li>
                          <li><span class="thick" style="color: #eb7828">Booking should be made at least 12 hours before the flight through our website (internet).</span> if you make your booking within 12 hours before your flight, please contact us as soon as possible, otherwise no guaranteed on your booking.</li>
                          <li>Our company bank details for online banking and direct deposit can be provided only by email or txt inquiry.</li>
                        </ul>
                        </div>
                        </div></div></div><div class="panel-grid" id="pg-11-1" ><div class="panel-grid-cell" id="pgc-11-1-0" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-1-0-0" data-index="1">			<div class="textwidget"><ul style="list-style-type: disc;">
                          <li>Some larger items may incur an additional fee or shall not be transported.</li>
                          <li><span class="thick" style="color: #eb7828">Any toll charges shall be added to the customer’s fee. </span></li>
                          <li>Fares may be subject to change without notice.</li>
                          <li>Any redirection or additional pick up or drop off must be communicated back to base and is subject to approval depending on schedule, extra charge will apply.</li>
                          <li><span class="thick" style="color: #eb7828">For departure, Delays greater than 5 mins from booking time (pickup time) creates last min reschedule expenses and additional liabilities to other scheduled passengers, additional charge will apply.</span></li>
                          <li><span class="thick" style="color: #eb7828">For departure, Additional waiting time charges may apply to your trip if the driver has waited 5 minutes: $0.90 per minutes</span></li>
                          <li>Passengers should be responsible for their own luggage. We do not accept liability for any damage. If you are missing anything please contact us immediately.</li>
                        </ul>
                          <br>
                        </div>
                        </div></div><div class="panel-grid-cell" id="pgc-11-1-1" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-1-1-0" data-index="2">
                        </div>
                        </div></div></div><div class="panel-grid" id="pg-11-2" ><div class="panel-grid-cell" id="pgc-11-2-0" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-2-0-0" data-index="3"><h3 class="widget-title">Price Information</h3>			<div class="textwidget"><p><span class="thick" style="color: #eb7828">All our drivers are covid tested and fully vaccinated.</span></p>

                        </div></div></div></div>					</div><!-- .entry-content -->


	</div>

</article><!-- #post-11 -->


	</div><!-- #content .site-content -->
</div><!-- #primary .content-area -->

		</div><!-- .full-container -->
	</div><!-- #main .site-main -->

{% endblock %}