{% extends 'basecamp/easygo_base.html' %}
{% block content %}
      <!-- Page content-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.1"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-80"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/sydney1.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>		  
		  <br>
		  <br/>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
          <div class="row justify-content-center pb-7">
            <div class="col-lg-10">              		
			  <!-- <a style="font-weight: 400;color: brown">Flight Date:&nbsp;{{ flight_date }}</a><br>
			  <a style="font-weight: 400;color: brown">Direction:&nbsp;{{ direction }}</a><br>
			  <a style="font-weight: 400;color: brown">Suburb:&nbsp;{{ suburb }}</a><br>
			  <a style="font-weight: 400;color: brown">Passengers:&nbsp;{{ no_of_passenger }}</a> -->
			  <br><br><br>
			  <h1 class="text-light">Almost there... Last Page!</h3><br>  
              <h3 class="text-light">Complete the form to get the exact price</h5>			  			  	  		  
            </div>
          </div>
        </div>
      </section>
      
      <!-- Contact form + details-->
     <section class="container position-relative zindex-5 px-0 px-xl-3">
        <div class="row">
          <div class="col-lg-7 col-md-7 pb-2 mb-5" style="margin-top: -260px;">
            <div class="card border-1 shadow-lg">				
              <form method="post" enctype="multipart/form-data" action="/inquiry_details1/" class="card-body needs-validation p-5" >
                {% csrf_token %}
				<div class="mb3 pb-1" >					
					<label class="form-label">Personal Information</label>									      
				</div>					
				<div class="card text-white bg-secondary p-4">
                <div class="mb-3 pb-1">
                  <label class="form-label" >Full name<sup class="text-danger ms-1">*</sup></label>
                  <input class="form-control" type="text"  placeholder="John Doe" name="name" required>
                  <div class="invalid-feedback">Please enter your full name!</div>				  
                </div>
                 <div class="mb-3 pb-1">
                  <label class="form-label" >Mobile phone number<sup class="text-danger ms-1">*</sup></label>
                  <input class="form-control" type="text"  placeholder="Your mobile phone number" name="contact" required>
                  <div class="invalid-feedback">Please enter a valid number!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Email address<sup class="text-danger ms-1">*</sup></label>
                  <input class="form-control" type="email"  placeholder="j.doe@example.com" name="email" required>
                  <div class="invalid-feedback">Please enter a valid email address!</div>
                </div></div>
				<br><br>
				<hr>
				<br><br>
				<div class="mb3 pb-1" >					
					<label class="form-label">Flight Information</label>					      
				</div>
				<div class="mb-3 pb-1">
					<label class="form-label">Direction<sup class="text-danger ms-1">*</sup></label>
					<select class="form-select" name="direction" style="background-color:#E5EFFE; font-weight: 400; color:black" required>						
						<option value="{{ direction }}">{{ direction }}</option>						                
					</select>
				</div><br>
				<div id="flight-info" class="card text-white bg-secondary p-4">
                <div class="mb-3 pb-1">					
                  <label class="form-label" >Flight date<sup class="text-danger ms-1">*</sup>&nbsp;(Sydney)</label>
                  <input class="form-control" name="flight_date" style="background-color:#E5EFFE; font-weight: 400; color: black, " value="{{ flight_date }}" type="text" >				  
                </div>
				<div class="mb-3 pb-1">
					<label class="form-label" >Flight number<sup class="text-danger ms-1">*</sup></label>
					 <input class="form-control" type="text" placeholder="ex) QF576, SQ221..." name="flight_number" required>
					<div class="invalid-feedback">Please enter your flight number!</div>
				 </div>
				{% if direction == 'Pickup from Intl Airport' %}
				  <div class="mb-3 pb-1">
					<label class="form-label">Arrival time in Sydney<sup class="text-danger ms-1">*</sup></label>
					<input class="form-control" name="flight_time" type="time" required>
				  </div>
				{% elif direction == 'Pickup from Domestic Airport' %}
				  <div class="mb-3 pb-1">
					  <label class="form-label">Arrival time in Sydney<sup class="text-danger ms-1">*</sup></label>
					  <input class="form-control" name="flight_time" type="time" required>
				  </div>
				{% else %}
				<div class="mb-3 pb-1">
					<label class="form-label">Departure time from Sydney<sup class="text-danger ms-1">*</sup></label>
					<input class="form-control" name="flight_time" type="time" required>
				  </div>
				{% endif %}
				  <div class="mb-3 pb-1">
					<label class="form-label">Your desired pickup time</label>
					<input class="form-control" type="time" name="pickup_time">
					<sup class="text-danger ms-1">if not sure, just skip</sup>
				  </div>
				</div>  
				<br><br>
				<hr>
				<br><br>
				
				<div class="mb3 pb-1" >					
					<label class="form-label">Full Address of {{ suburb }}<sup class="text-danger ms-1">*</sup></label>					
				</div>
				<div class="card text-white bg-secondary p-4">				
				<div class="mb-3 pb-1">
					<label class="form-label" >Street No & Street Name<sup class="text-danger ms-1"></sup></label>
					<input class="form-control" type="text"  placeholder="Street No and Street Name" required name="street">
					<div class="invalid-feedback">Please enter street no & name!</div>
				  </div>    
				<div class="mb-3 pb-1">
					<label class="form-label" >Suburb<sup class="text-danger ms-1"></sup></label>
					<select class="form-select" style="background-color:#E5EFFE; font-weight: 400; color:black" name="suburb" required>					
					<option value="{{ suburb }}">{{ suburb }}</option>					
				  </select>
				  </div></div>
				<br><br>
				<hr>
				<br><br>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Passengers<sup class="text-danger ms-1">*</sup></label>
                  <select class="form-select" name="no_of_passenger" style="background-color:#E5EFFE; font-weight: 400; color:black" required>
                  <option value="{{ no_of_passenger }}">{{ no_of_passenger }}</option>				  
              </select>
                </div>
				<div class="mb-3 pb-1">
					<label class="form-label" >Baggage<sup class="text-danger ms-1">*</sup></label>
					<input class="form-control" type="text" placeholder="How many baggage?" name="no_of_baggage">
					<div class="invalid-feedback">Please enter the number of baggage!</div>
				  </div>				 
                <div class="mb-3 pb-1">
                  <label class="form-label" >Message</label>
                  <textarea class="form-control" name="message" id="cont-message" rows="5" placeholder="Write your message here"></textarea>
                  <div class="invalid-feedback">Please write a message!</div>
                </div>
				  <br>
				<div class="text-center pt-2">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
				<br><br>
                <div><small>This form is protected by reCAPTCHA Enterprise and the Google
					<a href="https://policies.google.com/privacy">Privacy Policy</a> and
					<a href="https://policies.google.com/terms">Terms of Service</a> apply.</small>
				</div>
				<br>				              
              </form>
            </div>
          </div>
      
			<!-- Categories Widget -->
    <div class="col-lg-4 col-md-4 offset-md-1">
            <!-- Categories Widget -->
			  <div class="card my-4" id="category-card" >
				  <h5 class="card-header" style="color:red">Note!</h5>
				  <div class="card-body" >
					  <div class="row">
						  <div class="col-lg-10 list-unstyled">

							  <li>
								  <p><strong>For arrivals</strong></p>
								  <p><small>Flight number is important</small></p>
								  <p><small>Your driver will keep track of arrival time in order to meet you on time</small></p>								  
								  <p><small>Please check where the meeting point is &raquo; <a href="/meeting_point/" target="_blank">Airport Meeting Points</a></small></p>
							  </li>

						  </div>
					  </div>
				  </div>
			  </div>
			  <div class="card my-4" id="category-second_card" >
				  <h5 class="card-header" style="color:blue">Note!</h5>
				  <div class="card-body">
					  <div class="row">
						  <div class="col-lg-10 list-unstyled">

							  <li>
								  <p><strong>For departure</strong></p>
								  <p>Please inform us your preferred pickup time</p>
								  <p><small>Our vehicles are entitled to use <strong>BUS LANE</strong></small></p>
								  <p><small>So even if there is traffic congestion, it won't take long</small></p>
								  <p><small>For domestic departure, you should be at airport two hours before the flight time and for international departure, at least 3 hours </small></p>
								  <p><small></small></p>
							  </li>

						  </div>
					  </div>
				  </div>
			  </div>
			  <div class="card my-4" id="category-second_card" >
				
			</div>
		  </div>
		</div>
	</section>

{% endblock %}