{% extends 'basecamp/easygo_base.html' %}
{% block content %}
      <!-- Page content-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.1"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-70"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/page-title-bg.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>
		  <br>
		  <br>
		  <br>
		  <br>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
          <div class="row justify-content-center pb-7">
            <div class="col-lg-10">
              <h1 class="text-light">Retrieve Inquiry Form</h1>
              <div class="active" style="color:white">Please fill out the booking form</div>
            </div>
          </div>
        </div>
	</section>

 	<section class="container position-relative zindex-5 px-0 px-xl-3">
        <div class="row">
          <div class="col-lg-7 col-md-7 pb-2 mb-5" style="margin-top: -260px;">
            <div class="card border-1 shadow-lg">
      <!-- Page content-->
      <!-- Page title-->	 
      <!-- Contact form + details-->  	  
            <form method="post" enctype="multipart/form-data" action="/retrieve_inquiry_detail/" class="card-body needs-validation p-5" >
                {% csrf_token %}
				<div class="mb3 pb-1" >					
					<label class="form-label">Personal Information</label>									      
				</div>					
				<div class="card text-white bg-secondary p-4">
				<div class="mb-3 pb-1">
					<label class="form-label" >Email address<sup class="text-danger ms-1">*</sup></label>
					<input class="form-control" type="email"  placeholder="j.doe@example.com" required name="email">
					<div class="invalid-feedback">Please enter a valid email address!</div>
				</div></div>
				<br><br>
				<hr>
				<br><br>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Message</label>
                  <textarea class="form-control" name="message" id="cont-message" rows="5" placeholder="Write your message here"></textarea>
                  <div class="invalid-feedback">Please write a message!</div>
                </div>
                <div class="mb-3 pb-1">
                    <label class="form-label" >Price $</label>
                    <input class="form-control" type="text"  name="price">
                    <div class="invalid-feedback">Please enter price</div>
                </div>
				<br>
				<div class="text-center pt-2">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
				<br><br>
                <div><small>This form is protected by reCAPTCHA Enterprise and the Google
					<a href="https://policies.google.com/privacy">Privacy Policy</a> and
					<a href="https://policies.google.com/terms">Terms of Service</a> apply.</small>
				</div>
				<br>                
              </form>
              </div>
            </div>
          
          <div class="col-lg-4 col-md-4 offset-md-1">
            <!-- Categories Widget -->
			  <div class="card my-4" id="category-card" >
				  <h5 class="card-header" style="color:red">Note!</h5>
				  <div class="card-body" >
					  <div class="row">
						  <div class="col-lg-10 list-unstyled">

							  <li>
								  <p><strong>For arrivals</strong></p>
								  <p><small>Flight number is important to us</small></p>
								  <p><small>Your driver will keep track of arrival time in order to meet you on time</small></p>								  
								  <p><small>Please check where the meeting point is &raquo; <a href="/meeting_point/" target="_blank">Airport Meeting Points</a></small></p>
							  </li>

						  </div>
					  </div>
				  </div>
			  </div>
			  <div class="card my-4" id="category-second_card" >
				  <h5 class="card-header" style="color:blue">Note!</h5>
				  <div class="card-body">
					  <div class="row">
						  <div class="col-lg-10 list-unstyled">

							  <li>
								<p><strong>For departure</strong></p>
								<p>Please inform us your preferred pickup time</p>
								<p><small>Our vehicles are entitled to use <strong>BUS LANE</strong></small></p>
								<p><small>So even if there is traffic congestion, it won't take long</small></p>
								<p><small>For domestic departure, you should be at airport two hours before the flight time and for international departure, at least 3 hours </small></p>
								<p><small></small></p>
							  </li>

						  </div>
					  </div>
				  </div>
			  </div>
			  <div class="card my-4" id="category-second_card" >
				<h5 class="card-header" style="color:green">Note!</h5>
				<div class="card-body">
					<div class="row">
						<div class="col-lg-10 list-unstyled">

							<li>
							  <p><strong>For Direction</strong></p>
							  <p>If you select 'Drop off to the airport' in the direction column, then 'the full address of suburb' will be your <strong>pick-up location</strong></p>	
							  <p>If you select 'Pickup from the airport' in the direction column, then 'the full address of suburb' will be your <strong>drop-off location</strong></p>							  
							  <p></p>
							</li>

						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	</section>	
{% endblock %}
