{% extends 'basecamp/easygo_base.html' %}
{% block content %}
      <!-- Page content-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.1"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-70"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/page-title-bg.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>
		  <br>
		  <br>
		  <br>
		  <br>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
          <div class="row justify-content-center pb-7">
            <div class="col-lg-10">
              <h1 class="text-light">Return Trip Booking Form</h1>
              <div class="active" style="color:white">Please fill out the booking form</div>
			  <br>
            </div>
          </div>
        </div>
	</section>

 	<section class="container position-relative zindex-5 px-0 px-xl-3">
        <div class="row">
          <div class="col-lg-7 col-md-7 pb-2 mb-5" style="margin-top: -260px;">
            <div class="card border-1 shadow-lg">
      <!-- Page content-->
      <!-- Page title-->	 
      <!-- Contact form + details-->  	  
            <form method="post" enctype="multipart/form-data" action="/return_trip_detail/" class="card-body needs-validation p-5" >
                {% csrf_token %}
				<div class="mb3 pb-1" >					
					<label class="form-label">Personal Information</label>									      
				</div>					
				<div class="card text-white bg-secondary p-4">
				<div class="mb-3 pb-1">
					<label class="form-label" >Email address<sup class="text-danger ms-1">*</sup></label>
					<input class="form-control" type="email"  placeholder="j.doe@example.com" required name="email">
					<div class="invalid-feedback">Please enter a valid email address!</div>
				</div></div>
				<br><br>
				<hr>
				<br><br>
				<div class="mb3 pb-1" >					
					<label class="form-label">Flight Information</label>					      
				</div>
				<div class="card text-white bg-secondary p-4">
				<div class="mb-3 pb-1">
					<label class="form-label" >Flight date (Trip date)<sup class="text-danger ms-1"></sup>&nbsp;(Sydney)</label>
					 <input class="form-control date-picker rounded" required name="flight_date" type="text" placeholder="Choose flight date" data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;Y-m-d&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;, &quot;defaultDate&quot;: &quot;today&quot;}" >
					<div class="invalid-feedback">Please enter a valid email address!</div>
				</div>
				<div class="mb-3 pb-1">
					<label class="form-label" >Flight number(sp)<sup class="text-danger ms-1">*</sup></label>
					 <input class="form-control" type="text" placeholder="Your flight number" name="flight_number" required>
					<div class="invalid-feedback">Please enter your flight number!</div>
				 </div>
				<div class="mb-3 pb-1">
				  <label class="form-label">Flight time(n)<sup class="text-danger ms-1"></sup>&nbsp;(Sydney)</label>
				   <input class="form-control" name="flight_time" type="time" required>
				</div>
				<div class="mb-3 pb-1">
					<label class="form-label" >Pickup time preferred</label>
					 <input class="form-control" type="time" name="pickup_time" >
					 <sup class="text-danger ms-1">if not sure, just skip this column</sup>
					
				 </div></div>
				<br><br>
				<hr>
				<br><br>				
				<div class="mb-3 pb-1">
					<label class="form-label">Direction<sup class="text-danger ms-1">*</sup></label>
					<select class="form-select" name="direction" id="direction" required>
						<option value="#" disabled style="color:red">To/From Airport</option>
						<option value="Drop off to Domestic Airport">Drop off to Domestic Airport</option>
                		<option value="Drop off to Intl Airport">Drop off to Intl Airport</option>						
                		<option value="Pickup from Domestic Airport">Pickup from Domestic Airport</option>					
                		<option value="Pickup from Intl Airport">Pickup from Intl Airport</option>						
					</select>
				</div><br>	
                <div class="mb-3 pb-1">
                  <label class="form-label" >Message</label>
                  <textarea class="form-control" name="message" id="cont-message" rows="5" placeholder="Write your message here"></textarea>
                  <div class="invalid-feedback">Please write a message!</div>
                </div>
                <div class="mb-3 pb-1">
                    <label class="form-label" >Price $</label>
                    <input class="form-control" type="text"  name="price">
                    <div class="invalid-feedback">Please enter price</div>
                    <sup class="text-danger ms-1">if not sure, just skip</sup>
                </div>
				
				<div class="text-center pt-2">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>	
				<br>
				<div class="mb-3 pb-1">     
                    <label class="form-label" >I wish to book and to receive an email confirmation&nbsp;&nbsp;</label>
                    <input type="checkbox" required name="is_confirmed" value="True"></div></div>
                    <div class="invalid-feedback">Please check this box if you want to proceed</div>	
				</div>
				<br>	  
              </form>
              </div>
            </div>
          
          
		  </div>
		</div>
	</section>	
{% endblock %}
