{% extends 'basecamp/easygo_base.html' %}
{% block content %}
      <!-- Page content-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.1"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-70"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/page-title-bg.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>
		  <br>
		  <br>
		  <br>
		  <br>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
          <div class="row justify-content-center pb-7">
            <div class="col-lg-10">
              <h1 class="text-light">Saving Data Only!</h1>
              <div class="active" style="color:white">Please fill out the booking form</div>
			  <br>
			  <div><a class="btn btn-warning" href="/retrieve_inquiry/">Retrieve Inquiry</a>&nbsp;|&nbsp;<a class="btn btn-success" href="/retrieve_post/">Retrieve Post</a>&nbsp;|&nbsp;<a class="btn btn-info" href="/re_confirm/">Re_confirm</a>&nbsp;</div>
			  <div><a class="btn btn-primary" href="/re_confirm_email/">Sending Email only</a>&nbsp;|&nbsp;<a class="btn btn-primary" href="/save_data_only/">Saving Data only</a></div>
            </div>
          </div>
        </div>
	</section>

 	<section class="container position-relative zindex-5 px-0 px-xl-3">
        <div class="row">
          <div class="col-lg-7 col-md-7 pb-2 mb-5" style="margin-top: -260px;">
            <div class="card border-1 shadow-lg">
      <!-- Page content-->
      <!-- Page title-->	 
      <!-- Contact form + details-->  	  
            <form method="post" enctype="multipart/form-data" action="/save_data_only_detail/" class="card-body needs-validation p-5" >
                {% csrf_token %}
				<div class="mb3 pb-1" >					
					<label class="form-label">Personal Information</label>									      
				</div>					
				<div class="card text-white bg-secondary p-4">
                <div class="mb-3 pb-1">
                  <label class="form-label" >Full name<sup class="text-danger ms-1">*</sup></label>
                  <input class="form-control" type="text"  placeholder="John Doe" required name="name">
                  <div class="invalid-feedback">Please enter your full name!</div>
                </div>
				<div class="mb-3 pb-1">
					<label class="form-label" >Contact number<sup class="text-danger ms-1">*</sup></label>
					<input class="form-control" type="text"  placeholder="Your mobile phone number" required name="contact">
					<div class="invalid-feedback">Please enter your mobile phone number!</div>
				  </div>
				<div class="mb-3 pb-1">
					<label class="form-label" >Email address<sup class="text-danger ms-1">*</sup></label>
					<input class="form-control" type="email"  placeholder="j.doe@example.com" required name="email">
					<div class="invalid-feedback">Please enter a valid email address!</div>
				</div></div>
				<br><br>
				<hr>
				<br><br>
				<div class="mb3 pb-1" >					
					<label class="form-label">Flight Information</label>					      
				</div>
				<div class="card text-white bg-secondary p-4">
				<div class="mb-3 pb-1">
					<label class="form-label" >Flight date (Trip date)<sup class="text-danger ms-1"></sup>&nbsp;(Sydney)</label>
					 <input class="form-control date-picker rounded" required name="flight_date" type="text" placeholder="Choose flight date" data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;Y-m-d&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;, &quot;defaultDate&quot;: &quot;today&quot;}" >
					<div class="invalid-feedback">Please enter a valid email address!</div>
				</div>
				<div class="mb-3 pb-1">
					<label class="form-label" >Flight number(sp)<sup class="text-danger ms-1">*</sup></label>
					 <input class="form-control" type="text" placeholder="Your flight number" name="flight_number" required>
					<div class="invalid-feedback">Please enter your flight number!</div>
				 </div>
				<div class="mb-3 pb-1">
				  <label class="form-label">Flight time(n)<sup class="text-danger ms-1"></sup>&nbsp;(Sydney)</label>
				   <input class="form-control" name="flight_time" type="time" required>
				</div>
				<div class="mb-3 pb-1">
					<label class="form-label" >Pickup time preferred</label>
					 <input class="form-control" type="time" name="pickup_time" >
					 <sup class="text-danger ms-1">if not sure, just skip this column</sup>
					
				 </div></div>
				<br><br>
				<hr>
				<br><br>				
				<div class="mb-3 pb-1">
					<label class="form-label">Direction<sup class="text-danger ms-1">*</sup></label>
					<select class="form-select" name="direction" id="direction" required>
						<option value="#" disabled style="color:red">To/From Airport</option>
						<option value="Drop off to Domestic Airport">Drop off to Domestic Airport</option>
                		<option value="Drop off to Intl Airport">Drop off to Intl Airport</option>						
                		<option value="Pickup from Domestic Airport">Pickup from Domestic Airport</option>					
                		<option value="Pickup from Intl Airport">Pickup from Intl Airport</option>
						<option value="Point to Point">Point to Point</option>
					</select>
				</div><br>
				<div class="mb3 pb-1" >					
					<label class="form-label" >Full Address of Suburb<sup class="text-danger ms-1">*</sup></label>					
				</div>
				
				<div class="card text-white bg-secondary p-4">				
				<div class="mb-3 pb-1">
					<label class="form-label" >Street No & Street Name(ep)<sup class="text-danger ms-1">*</sup></label>
					<input class="form-control" type="text"  placeholder="Street No and Street Name" required name="street">
					<div class="invalid-feedback">Please enter street no & name!</div>
				  </div>    
				<div class="mb-3 pb-1">
					<label class="form-label" >Suburb(n)<sup class="text-danger ms-1">*</sup></label>
					<select class="form-select" name="suburb" required>
					<option value="" disabled>Suburb</option>
					<option value="Artarmon">Artarmon</option>					
					<option value="Hotels in CBD">Hotels in CBD</option>					
					<option value="Asquith">Asquith</option>
					<option value="Auburn">Auburn</option>
					<option value="Balgowlah">Balgowlah</option>
					<option value="Balgowlah Heights">Balgowlah Heights</option>
					<option value="Balmain">Balmain</option>
					<option value="Bankstown">Bankstown</option>
					<option value="Bass Hill">Bass Hill</option>
					<option value="Baulkham Hills">Baulkham Hills</option>
					<option value="Beaumont Hills">Beaumont Hills</option>
					<option value="Beecroft">Beecroft</option>
					<option value="Belfield">Belfield</option>
					<option value="Bella vista">Bella vista</option>
					<option value="Belleveue Hill">Bellevue Hill</option>
					<option value="Belmore">Belmore</option>
					<option value="Berala">Berala</option>
					<option value="Berowra">Berowra</option>
					<option value="Berowra Heights">Berowra Heights</option>
					<option value="Bevely Hills">Bevely Hills</option>
					<option value="Beverly Park">Beverly Park</option>
					<option value="Bexley">Bexley</option>
					<option value="Bexley North">Bexley North</option>
					<option value="Bidwill">Bidwill</option>
					<option value="Birchgrove">Birchgrove</option>
					<option value="Birrong">Birrong</option>
					<option value="Blackett">Blackett</option>
					<option value="Blacktown">Blacktown</option>
					<option value="Bligh Park">Bligh Park</option>
					<option value="Bondi">Bondi</option>
					<option value="Bondi Junction">Bondi Junction</option>
					<option value="Bossley Park">Bossley Park</option>
					<option value="Box Hill">Box Hill</option>
					<option value="Breakfast Point">Breakfast Point</option>
					<option value="Bronte">Bronte</option>
					<option value="Brookvale">Brookvale</option>
					<option value="Bungarribee">Bungarribee</option>
					<option value="Burwood">Burwood</option>
					<option value="Cabarita">Cabarita</option>
					<option value="Cambridge Garden">Cambridge Garden</option>
					<option value="Cambridge Park">Cambridge Park</option>
					<option value="Cammeray">Cammeray</option>
					<option value="Canada Bay">Canada Bay</option>
					<option value="Canterbury">Canterbury</option>
					<option value="Carlingford">Carlingford</option>
					<option value="Castle Hill">Castle Hill</option>
					<option value="Castlecove">Castlecove</option>
					<option value="Castlecrag">Castlecrag</option>
					<option value="Castlereagh">Castlereagh</option>
					<option value="Chatswood">Chatswood</option>
					<option value="Cheltenham">Cheltenham</option>
					<option value="Cherrybrook">Cherrybrook</option>
					<option value="Chester Hill">Chester Hill</option>
					<option value="Chullora">Chullora</option>
					<option value="Claremont Meadow">Claremont Meadow</option>
					<option value="Clyde">Clyde</option>
					<option value="Colebee">Colebee</option>
					<option value="Colyton">Colyton</option>
					<option value="Concord">Concord</option>
					<option value="Concord West">Concord West</option>
					<option value="Condell Park">Condell Park</option>
					<option value="Constitution Hill">Constitution Hill</option>
					<option value="Coogee">Coogee</option>
					<option value="Cranebrook">Cranebrook</option>
					<option value="Cremorne">Cremorne</option>
					<option value="Crows Nest">Crows Nest</option>
					<option value="Croydon">Croydon</option>
					<option value="Croydon Park">Croydon Park</option>
					<option value="Darling Point">Darling Point</option>
					<option value="Darlinghurst">Darlinghurst</option>
					<option value="Dean Park">Dean Park</option>
					<option value="Dee Why">Dee Why</option>
					<option value="Denistone">Denistone</option>
					<option value="Dharruk">Dharruk</option>
					<option value="Doonside">Doonside</option>
					<option value="Drummoyne">Drummoyne</option>
					<option value="Dulwitch Hill">Dulwitch Hill</option>
					<option value="Dundas">Dundas</option>
					<option value="Dural">Dural</option>
					<option value="East Killara">East Killara</option>
					<option value="East Lindfield">East Lindfield</option>
					<option value="East Ryde">East Ryde</option>
					<option value="Eastern Creek">Eastern Creek</option>
					<option value="Eastwood">Eastwood</option>
					<option value="Edensor Park">Edensor Park</option>
					<option value="Elanora Heights">Elanora Heights</option>
					<option value="Emerton">Emerton</option>
					<option value="Emu Plains">Emu Plains</option>
					<option value="Enfield">Enfield</option>
					<option value="Enmore">Enmore</option>
					<option value="Epping">Epping</option>
					<option value="Ermington">Ermington</option>
					<option value="Erskin Park">Erskin Park</option>
					<option value="Fairlight">Fairlight</option>
					<option value="Five Dock">Five Dock</option>
					<option value="Forest Lodge">Forest Lodge</option>
					<option value="Forestville">Forestville</option>
					<option value="French Forest">French Forest</option>
					<option value="Galston">Galston</option>
					<option value="Georges Hall">Georges Hall</option>
					<option value="Girraween">Girraween</option>
					<option value="Gladesville">Gladesville</option>
					<option value="Glendenning">Glendenning</option>
					<option value="Glenhaven">Glenhaven</option>
					<option value="Glenmore Park">Glenmore Park</option>
					<option value="Glenwood">Glenwood</option>
					<option value="Gordon">Gordon</option>
					<option value="Granville">Granville</option>
					<option value="Greenacre">Greenacre</option>
					<option value="Greenwich">Greenwich</option>
					<option value="Greystanes">Greystanes</option>
					<option value="Guildford">Guildford</option>
					<option value="Harberfield">Harberfield</option>
					<option value="Harris park">Harris park</option>
					<option value="Hassal Grove">Hassal Grove</option>
					<option value="Henley">Henley</option>
					<option value="Herbersham">Herbersham</option>
					<option value="Holroyd">Holroyd</option>
					<option value="Homebush">Homebush</option>
					<option value="Hornsby">Hornsby</option>
					<option value="Hornsby Heights">Hornsby Heights</option>
					<option value="Hunters Hill">Hunters Hill</option>
					<option value="Huntingwood">Huntingwood</option>
					<option value="Huntley Point">Huntley Point</option>
					<option value="Hurstville">Hurstville</option>
					<option value="Jamisontown">Jamisontown</option>
					<option value="Jordan Springs">Jordan Springs</option>
					<option value="Kellyville">Kellyville</option>
					<option value="Keyllyville Ridge">Kellyville Ridge</option>
					<option value="Kenthurst">Kenthurst</option>
					<option value="Killara">Killara</option>
					<option value="Killarney Heights">Killaryney Heights</option>
					<option value="Kings Langley">Kings Langley</option>
					<option value="Kings Park">Kings Park</option>
					<option value="Kirribilli">Kirribilli</option>
					<option value="Lalor Park">Lalor Park</option>
					<option value="Lane Cove">Lane Cove</option>
					<option value="Leichhardt">Leichhardt</option>
					<option value="Lethbridge Park">Lethbridge Park</option>
					<option value="Lewwisham">Lewisham</option>
					<option value="Liberty Grove">Liberty Grove</option>
					<option value="Lidcombe">Lidcombe</option>
					<option value="Lindfield">Lindfield</option>
					<option value="Linley Point">Linley Point</option>
					<option value="Liyfield">Liyfield</option>
					<option value="Longueville">Longueville</option>
					<option value="Macquarie Park">Macquarie Park</option>
					<option value="Manly">Manly</option>
					<option value="Manly Vale">Manly Vale</option>
					<option value="Marayong">Marayong</option>
					<option value="Marsden Park">Marsden Park</option>
					<option value="Marsfield">Marsfield</option>
					<option value="McGraths Hill">McGraths Hill</option>
					<option value="Mcmahons Point">Mcmahons Point</option>
					<option value="Meadowbank">Meadowbank</option>
					<option value="Melrose Park">Melrose Park</option>
					<option value="Merrylands">Merrylands</option>
					<option value="Michinbery">Michinbery</option>
					<option value="Middle Cove">Middle Cove </option>
					<option value="Millers Point">Millers Point </option>
					<option value="Milpera">Milpera</option>
					<option value="Milsons Point">Milsons Point</option>
					<option value="Mortdale">Mortdale</option>
					<option value="Mortlake">Mortlake</option>
					<option value="Mosman">Mosman</option>
					<option value="Mt Colah">Mt Colah</option>
					<option value="Mt druitt">Mt druitt</option>
					<option value="Mt Kuring Gai">Mt Kuring Gai</option>
					<option value="Mulgrave">Mulgrave</option>
					<option value="Naremburn">Naremburn</option>
					<option value="Narraweena">Narraweena</option>
					<option value="Neutral Bay">Neutral Bay</option>
					<option value="Newington">Newington</option>
					<option value="Normanhurst">Normanhurst</option>
					<option value="North Balgowlah">North Balgowlah</option>
					<option value="North Bondi">North Bondi</option>
					<option value="North Epping">North Epping</option>
					<option value="North Parramatta">North Parramatta</option>
					<option value="North rocks">North rocks</option>
					<option value="North Ryde">North Ryde</option>
					<option value="North Strathfield">North Strathfield</option>
					<option value="North Sydney">North Sydney</option>
					<option value="North Turramurra">North Turramurra</option>
					<option value="Northbridge">Northbridge</option>
					<option value="Northmead">Northmead</option>
					<option value="Northwood">Northwood</option>
					<option value="Oakhurst">Oakhurst</option>
					<option value="Oakville">Oakville</option>
					<option value="Oatland">Oatland</option>
					<option value="Old Toongabbie">Old Toongabbie</option>
					<option value="Olympic Park">Olympic Park</option>
					<option value="Orchard Hill">Orchard Hill</option>
					<option value="Oxley Park">Oxley Park</option>
					<option value="Paddington">Paddington</option>
					<option value="Pairiewood">Pairiewood</option>
					<option value="Parklea">Parklea</option>
					<option value="Parramatta">Parramatta</option>
					<option value="Peakhurst">Peakhurst</option>
					<option value="Pemulway">Pemulway</option>
					<option value="Pendle Hill">Pendle Hill</option>
					<option value="Pennant Hills">Pennant Hills</option>
					<option value="Penrith">Penrith</option>
					<option value="Plumpton">Plumpton</option>
					<option value="Potts Point">Potts Point</option>
					<option value="Prospect">Prospect</option>
					<option value="Punchbowl">Punchbowl</option>
					<option value="Putney">Putney</option>
					<option value="Pymble">Pymble</option>
					<option value="Pyrmont">Pyrmont</option>
					<option value="Quakers hill">Quakers hill</option>
					<option value="Regents Park">Regents Park</option>
					<option value="Revesby">Revesby</option>
					<option value="Rhodes">Rhodes</option>
					<option value="Richmond">Richmond</option>
					<option value="Riverston">Riverston</option>
					<option value="Riverview">Riverview</option>
					<option value="Rooty Hill">Rooty Hill</option>
					<option value="Ropes Crossing">Ropes Crossing</option>
					<option value="Rose Hill">Rose Hill</option>
					<option value="Roseville">Roseville</option>
					<option value="Roseville Chase">Roseville Chase</option>
					<option value="Rouse Hill">Rouse Hill</option>
					<option value="Russel Lea">Russel Lea</option>
					<option value="Rydalmere">Rydalmere</option>
					<option value="Ryde">Ryde</option>
					<option value="Seaforth">Seaforth</option>
					<option value="Sefton">Sefton</option>
					<option value="Seven Hills">Seven Hills</option>
					<option value="Shalvey">Shalvey</option>
					<option value="Silverwater">Silverwater</option>
					<option value="Schofields">Schofields</option>
					<option value="South Turramurra">South Turramurra</option>
					<option value="South Wentworthville">South Wentworthville</option>
					<option value="St Clair">St Clair</option>
					<option value="St Ives">St Ives</option>
					<option value="St Leonards">St Leonards</option>
					<option value="St marys">St marys</option>
					<option value="St Marys north">St Marys North</option>
					<option value="Stanhope garden">Stanhope gardens</option>
					<option value="Summer Hill">Summer Hill</option>
					<option value="Sydney (city)">Sydney (city)</option>
					<option value="Surry Hills">Surry Hills</option>
					<option value="Telopea">Telopea</option>
					<option value="Tennyson Point">Tennyson Point</option>
					<option value="Terrey Hills">Terrey Hills</option>
					<option value="The ponds">The ponds </option>
					<option value="Thornleigh">Thornleigh</option>
					<option value="Toongabbie">Toongabbie</option>
					<option value="Top Ryde">Top Ryde</option>
					<option value="Tregear">Tregear</option>
					<option value="Turramurra">Turramurra</option>
					<option value="Vineyard">Vineyard</option>
					<option value="Wahroonga">Wahroonga</option>
					<option value="Waitara">Waitara</option>
					<option value="Wareemba">Wareemba</option>
					<option value="Warrawee">Warrawee</option>
					<option value="Watsons Bay">Watsons Bay</option>
					<option value="Waverley">Waverley</option>
					<option value="Waverton">Waverton</option>
					<option value="Wentworth Point">Wentworth Point</option>
					<option value="Wentworthville">Wentworthville</option>
					<option value="Werrington">Werrington</option>
					<option value="West Pennant Hills">West Pennant Hills</option>
					<option value="West Pymble">West Pymble</option>
					<option value="West Ryde">West Ryde</option>
					<option value="Westleigh">Westleigh</option>
					<option value="Westmead">Westmead</option>
					<option value="Whalan">Whalan</option>
					<option value="Willmot">Willmot</option>
					<option value="Willoughby">Willoughby</option>
					<option value="Winsor">Winsor</option>
					<option value="Winston Hill">Winston Hill</option>				  
					<option value="Wollstoncraft">Wollstoncraft</option>
					<option value="Woodcroft">Woodcroft</option>
					<option value="Woollahra">Woollahra</option>
					<option value="Yagoona">Yagoona</option>
				  </select>
				  </div></div>			               
				<br><br>
				<hr>
				<br><br>                
                <div class="mb-3 pb-1">
                   <label class="form-label" >Passengers<sup class="text-danger ms-1">*</sup></label>
                  <select class="form-select" name="no_of_passenger" required>
                  <option value="" >How many people?</option>
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				  <option value="7">7</option>
				  <option value="8">8</option>
				  <option value="9">9</option>
				  <option value="10">10</option>
				  <option value="11">11</option>
				  <option value="12">12</option>
				  <option value="13">13</option>
				  <option value="14">14</option>
				  <option value="15">15</option>
				  <option value="16">16</option>
				  <option value="17">17</option>
				  <option value="18">18</option>
				  <option value="-1" disabled="disabled">Over 18 (please email us)</option>
              </select>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Baggage<sup class="text-danger ms-1">*</sup></label>
                  <input class="form-control" type="text" placeholder="How many baggage?" name="no_of_baggage" requried>
                  <div class="invalid-feedback">Please enter the number of baggage!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Message</label>
                  <textarea class="form-control" name="message" id="cont-message" rows="5" placeholder="Write your message here"></textarea>
                  <div class="invalid-feedback">Please write a message!</div>
                </div>
                <div class="mb-3 pb-1">
                    <label class="form-label" >Price $</label>
                    <input class="form-control" type="text"  name="price">
                    <div class="invalid-feedback">Please enter price</div>
                </div>
				<br>
				
				<div class="text-center pt-2">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
				<br><br>
                <div><small>This form is protected by reCAPTCHA Enterprise and the Google
					<a href="https://policies.google.com/privacy">Privacy Policy</a> and
					<a href="https://policies.google.com/terms">Terms of Service</a> apply.</small>
				</div>
				<br>                
              </form>
              </div>
            </div>
          
          <div class="col-lg-4 col-md-4 offset-md-1">
            <!-- Categories Widget -->
			  <div class="card my-4" id="category-card" >
				  <h5 class="card-header" style="color:red">Note!</h5>
				  <div class="card-body" >
					  <div class="row">
						  <div class="col-lg-10 list-unstyled">

							  <li>
								  <p><strong>For arrivals</strong></p>
								  <p><small>Flight number is important to us</small></p>
								  <p><small>Your driver will keep track of arrival time in order to meet you on time</small></p>								  
								  <p><small>Please check where the meeting point is &raquo; <a href="/meeting_point/" target="_blank">Airport Meeting Points</a></small></p>
							  </li>

						  </div>
					  </div>
				  </div>
			  </div>
			  <div class="card my-4" id="category-second_card" >
				  <h5 class="card-header" style="color:blue">Note!</h5>
				  <div class="card-body">
					  <div class="row">
						  <div class="col-lg-10 list-unstyled">

							  <li>
								<p><strong>For departure</strong></p>
								<p>Please inform us your preferred pickup time</p>
								<p><small>Our vehicles are entitled to use <strong>BUS LANE</strong></small></p>
								<p><small>So even if there is traffic congestion, it won't take long</small></p>
								<p><small>For domestic departure, you should be at airport two hours before the flight time and for international departure, at least 3 hours </small></p>
								<p><small></small></p>
							  </li>

						  </div>
					  </div>
				  </div>
			  </div>
			  <div class="card my-4" id="category-second_card" >
				<h5 class="card-header" style="color:green">Note!</h5>
				<div class="card-body">
					<div class="row">
						<div class="col-lg-10 list-unstyled">

							<li>
							  <p><strong>For Direction</strong></p>
							  <p>If you select 'Drop off to the airport' in the direction column, then 'the full address of suburb' will be your <strong>pick-up location</strong></p>	
							  <p>If you select 'Pickup from the airport' in the direction column, then 'the full address of suburb' will be your <strong>drop-off location</strong></p>							  
							  <p></p>
							</li>

						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	</section>	
{% endblock %}
