{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.25">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/bg-pattern02.webp');"></div>
            <br>
        <div class="container py-4 py-sm-7 text-center">
          <div class="py-md-6">
              <p></p>
              <br>
              <br>
            <h1 class="text-light pb-1">Thank you! {{ name }}</h1>
            <br>
            <p class="fs-lg text-light"><span style="color: #eb7828">An email is being sent to you now</span></p>
            <br>
            <br>            
          </div>
        </div>
      </section>      
      
				</div>

			</div>
		</div>
	</div>

{% endblock %}

