{% extends 'basecamp/easygo_base.html' %}
{% block content %}

      <!-- Page content-->
        <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.2">
            <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/hero-bg.webp');"></div>
            <div class="container py-4 py-sm-7 text-center">
                <div class="py-md-6">
                    <p></p>
                    <br>
                    <h1 class="text-light pb-1">Service of EasyGo</h1>
                    <p class="fs-lg text-light">Makes it easier to experience the transport.</p>
                </div>
            </div>
        </section>
      <!-- Offers carousel-->
        <section class="container py-5 my-4 my-sm-0 py-sm-6 py-md-7" style="background-image: url('/static/basecamp/photos/bg-pattern02.webp');">
        <h2 class="text-center mb-4">Best Price Guaranteed</h2>
        <div class="tns-carousel-wrapper">
          <div class="tns-carousel-progress ms-auto mb-3">
            <div class="text-sm text-muted text-center mb-2"><span class="tns-current-slide me-1"></span>of<span class="tns-total-slides ms-1"></span></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
          </div>
          <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 3, &quot;nav&quot;: false, &quot;gutter&quot;: 23, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;540&quot;:{&quot;items&quot;:2},&quot;900&quot;:{&quot;items&quot;:3}}}">
            <div class="pb-2"><a class="card border-0 shadow card-hover mx-1" href="#">
                <div class="card-img-top card-img-gradient"><img src="/static/basecamp/images/vehicle.webp" alt="Airport" /><i class="ai-chevron-right align-middle fs-lg ms-1"></i></div>
                <div class="card-body text-center">
                  <h3 class="h5 pt-1 mb-3">EASYGO SERVICES</h3>
                  <p class="fs-sm text-muted mb-2">EASYGO Shuttles provide 'Non-shared ride', Door to door service with fixed price. EASYGO Shuttles provide several types of pickup services, all point to point (Door to Door). We can collect clients from any destination and accommodate larger luggage demands. Our Services are conducted in clean, modern, air conditioned vehicles. And our services are reliable, punctual and completely refund guaranteed.</p>
                </div></a></div>
            <div class="pb-2"><a class="card border-0 shadow card-hover mx-1" href="#">
                <div class="card-img-top card-img-gradient"><img src="/static/basecamp/photos/airport1.webp" alt="Airport"/><i class="ai-chevron-right align-middle fs-lg ms-1"></i></div>
                <div class="card-body text-center">
                  <h3 class="h5 pt-1 mb-3">AIRPORT TRANSFERS SERVICES</h3>
                  <p class="fs-sm text-muted mb-2">We provide an express pickup and transport service to and from Sydney Airport, delivering to and from hotels, homes, business offices or any other venue. Catering to indiviual travellers, families or corporate groups we rund the easiest and most cost-effective of shuttle services</p>
                </div></a></div>
            <div class="pb-2"><a class="card border-0 shadow card-hover mx-1" href="#">
                <div class="card-img-top card-img-gradient"><img src="/static/basecamp/photos/cruise2.webp" alt="Cruise"/><i class="ai-chevron-right align-middle fs-lg ms-1"></i></div>
                <div class="card-body text-center">
                  <h3 class="h5 pt-1 mb-3">CRUISE SHIPS SERVICES</h3>
                  <p class="fs-sm text-muted mb-2">EASYGO shuttles also provide a pickup and transfer service to and from cruise ships, with the same style and comfort afforded our airline passengers. Single travellers to families or even corporate groups can be collected from any location and delivered to their cruise departure point, and be collected and transferred home on the return journey. Larger luggage situations present no problem.</p>
                </div></a></div>
            <div class="pb-2"><a class="card border-0 shadow card-hover mx-1" href="#">
                <div class="card-img-top card-img-gradient"><img src="/static/basecamp/photos/wedding.webp" alt="Wedding"/><i class="ai-chevron-right align-middle fs-lg ms-1"></i></div>
                <div class="card-body text-center">
                  <h3 class="h5 pt-1 mb-3">WEDDING SERVICES</h3>
                  <p class="fs-sm text-muted mb-2">A once-in-a-life-time event deserves a little style, and benefits from the convenience. The Bride and Groom may take the prestige car, but a long list of guests needs to travel between ceremony and reception venues. Avoid parking issues by hiring a shuttle or two, helping the environment and definitely saving on fuel costs. Let you guests enjoy your evening without worrying about the venue location or the effects of the champagne toasts afterwards. Use our shuttles to keep the event a priority and the logistic in the background.</p>
                </div></a></div>
            <div class="pb-2"><a class="card border-0 shadow card-hover mx-1" href="#">
                <div class="card-img-top card-img-gradient"><img src="/static/basecamp/photos/concerts.webp" alt="concert"/><i class="ai-chevron-right align-middle fs-lg ms-1"></i></div>
                <div class="card-body text-center">
                  <h3 class="h5 pt-1 mb-3">CONCERT AND EVENT SERVICES</h3>
                  <p class="fs-sm text-muted mb-2">The convenience of pickup and transport to and from your event, brilliant for groups, small of large. Remove all worry and concentrate on your night out. Great for sporting events; enjoy a few drinks with your companions and feel the sense of solidarity that comes with travelling together. Shuttle bus transport is cheaper for groups than private transport, and often faster with the use of applicable bus lanes not usable by taxis or other cars</p>
                </div></a></div>
          </div>
        </div>

{% endblock %}

