{% extends 'basecamp/easygo_base.html' %}
{% block content %}
      <!-- Page content-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.1"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-80"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/sydney1.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>
          <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
          <div class="row justify-content-center pb-7">
            <div class="col-lg-10">
              <h1 class="text-light">SMS PAYMENT</h1>
              <p class="text-light">Get in touch by completing the below form</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Contact form + details-->
      <section class="container position-relative zindex-5 pb-5">
        <div class="row">
          <div class="col-lg-6 col-md-7 offset-lg-1 pb-2 mb-5" style="margin-top: -260px;">
            <div class="card border-0 shadow-lg">
              <form action="{% url 'sms_payment' %}" method="post" class="form-control" style="padding:2rem">
                {% csrf_token %}
                <div class="mb-3 pb-1">
                  <label class="form-label" >Name</label>
                  <input class="form-control" name="name">
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Contact number</label>
                  <input class="form-control" name="single_number">
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Flight date</label>
                  <div class="input-group">
                  <input class="form-control date-picker rounded" name="date" required type="text" placeholder="Choose date" data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;, &quot;defaultDate&quot;: &quot;today&quot;}" >
				  <a class="date-picker" ><i class="ai-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i></a>
              </div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Price</label>
                  <input class="form-control" name="price">
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" >Link number</label>
                  <input class="form-control" name="link">
                </div>

                </div>
                  <button class="btn btn-primary" type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
      </section>

{% endblock %}